<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <session-config>
    <session-timeout>15000</session-timeout>
  </session-config>
 
 
  <display-name>VideoLibraryManagementSystemClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addMovie</display-name>
    <servlet-name>addMovie</servlet-name>
    <servlet-class>Servlet.addMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMovie</servlet-name>
    <url-pattern>/View/addMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/View/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signup</display-name>
    <servlet-name>signup</servlet-name>
    <servlet-class>Servlet.signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/View/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminMovie</display-name>
    <servlet-name>adminMovie</servlet-name>
    <servlet-class>Servlet.adminMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminMovie</servlet-name>
    <url-pattern>/Admin/adminMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>Servlet.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/View/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>Servlet.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/View/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>Servlet.cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/View/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homescreen</display-name>
    <servlet-name>homescreen</servlet-name>
    <servlet-class>Servlet.homescreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homescreen</servlet-name>
    <url-pattern>/View/homescreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberhome</display-name>
    <servlet-name>memberhome</servlet-name>
    <servlet-class>Servlet.memberhome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberhome</servlet-name>
    <url-pattern>/View/memberhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myaccount</display-name>
    <servlet-name>myaccount</servlet-name>
    <servlet-class>Servlet.myaccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myaccount</servlet-name>
    <url-pattern>/View/myaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminHome</display-name>
    <servlet-name>adminHome</servlet-name>
    <servlet-class>Servlet.adminHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminHome</servlet-name>
    <url-pattern>/View/adminHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchForMember</display-name>
    <servlet-name>searchForMember</servlet-name>
    <servlet-class>Servlet.searchForMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchForMember</servlet-name>
    <url-pattern>/View/searchForMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchForAdmin</display-name>
    <servlet-name>searchForAdmin</servlet-name>
    <servlet-class>Servlet.searchForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchForAdmin</servlet-name>
    <url-pattern>/View/searchForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>movieInfoAdmin</display-name>
    <servlet-name>movieInfoAdmin</servlet-name>
    <servlet-class>Servlet.movieInfoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movieInfoAdmin</servlet-name>
    <url-pattern>/View/movieInfoAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentPremium</display-name>
    <servlet-name>paymentPremium</servlet-name>
    <servlet-class>Servlet.paymentPremium</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentPremium</servlet-name>
    <url-pattern>/View/paymentPremium</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkoutPremium</display-name>
    <servlet-name>checkoutPremium</servlet-name>
    <servlet-class>Servlet.checkoutPremium</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkoutPremium</servlet-name>
    <url-pattern>/View/checkoutPremium</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>Servlet.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/View/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>personInfoAdmin</display-name>
    <servlet-name>personInfoAdmin</servlet-name>
    <servlet-class>Servlet.personInfoAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personInfoAdmin</servlet-name>
    <url-pattern>/View/personInfoAdmin</url-pattern>
  </servlet-mapping>
</web-app>